

#image {
    width: 300px;
   
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

body {
  background-color: lightblue;
  text-align: center;
}

img {
    width: 250px;
    
}

main {
  margin-right: 50px;
  margin-left: 50px;
  border: 1px solid rgb(229, 246, 253);
  
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin-right: 50px;
  
}

nav li {
  display: inline-block;
  margin-right: 50px;
  

}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

input {
  text-align: center;
  font-style: italic;
  overflow: visible
}

.place-rant {
  border-top: lightgray solid 1px;
  padding: 20px;
  text-align: center;
}

.place-info {
  padding: 20px;
  text-align: center;
}

.form-group {
  padding: 30px;
}

.row {
  padding-left: 40px;
  padding-right: 40px;
}

.new-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type=checkbox] {
padding: 15px;
}